/* style.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f4f4f4;
    background-image: url("./image.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .input-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .output {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    overflow-x: auto;
    white-space: pre-wrap;
    margin-top: 20px;
  }
  
  .output h3 {
    margin-top: 0;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-section svg {
    font-size: 1.2rem;
    color: #333;
  }
  
  .container p a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #007bff;
    top: 1px;
  }
  .links{
    position: relative;
    top: 5px;

  }